<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>801143696197-rd5ad8bm3foa7q68edrf8ms83mkqom5d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.801143696197-rd5ad8bm3foa7q68edrf8ms83mkqom5d</string>
	<key>API_KEY</key>
	<string>AIzaSyA3KSGo4M7dv9CmB9rmploDBsS49oDxC0U</string>
	<key>GCM_SENDER_ID</key>
	<string>801143696197</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.dormManagement</string>
	<key>PROJECT_ID</key>
	<string>dormmanagement-16371</string>
	<key>STORAGE_BUCKET</key>
	<string>dormmanagement-16371.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:801143696197:ios:c134d303c63ec013916c2c</string>
</dict>
</plist>